* {
	margin: 0;
	padding: 0;
}

.card {
	border: none;
}

.card-img-top {
	border: none;
}

.headerCarousel img{
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.txtbak{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.carousel-caption {
    top: 50%;
		transform: translateY(-50%);
    bottom: auto;
}